<div class="mat-typography">
  <h3 class="mt-3">Angular RRule Control - Demo</h3>

  <!-- Input Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title><strong>Input</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex align-items-center gap-3">
        <span><strong>RRule Input</strong></span>
        <mat-form-field class="w-100">
          <mat-label>Enter RRule</mat-label>
          <input matInput [value]="testRule" (input)="rruleChange($event)" />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Component Card -->
  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title><strong>Component</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column gap-3">
        <form [formGroup]="form">
          <ngx-rrule
            formControlName="testRule"
            [hideStart]="hideStart"
            [hideEnd]="hideEnd"
            [tz]="timeZone"
            [frequency]="['Daily', 'Monthly', 'Weekly', 'Yearly']"
          ></ngx-rrule>
        </form>

        <div>
          <h5>Options</h5>

          <!-- Hide Start -->
          <mat-checkbox [(ngModel)]="hideStart" color="primary">
            Hide Start
          </mat-checkbox>

          <!-- Hide End -->
          <mat-checkbox [(ngModel)]="hideEnd" color="primary">
            Hide End
          </mat-checkbox>

          <!-- TimeZone -->
          <mat-form-field class="mt-3">
            <mat-label>Time Zone</mat-label>
            <mat-select [(ngModel)]="timeZone">
              <mat-option *ngFor="let tz of timeZones" [value]="tz.value">
                {{ tz.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Output Card -->
  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title><strong>Output</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- RRule String -->
      <div class="d-flex align-items-center gap-3">
        <span><strong>RRule String</strong></span>
        <mat-form-field class="w-100">
          <textarea
            matInput
            readonly
            rows="5"
            style="
              overflow: hidden;
              overflow-wrap: break-word;
              resize: none;
              width: 100%;
            "
          >
            {{ rRule?.toString()?.trim() }}
          </textarea>
        </mat-form-field>
      </div>

      <!-- RRule Text -->
      <div class="d-flex align-items-center gap-3 mt-3">
        <span><strong>RRule Text</strong></span>
        <mat-form-field class="w-100">
          <textarea
            matInput
            readonly
            rows="5"
            style="overflow: hidden; overflow-wrap: break-word; resize: none"
          >
            {{ rRule?.toText()?.trim() }}
          </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
